html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
	font-family: "Droid Sans";
}

#header,
#header h1,
#header h2 {
	color: rgb(51, 51, 51);
	margin: 0;
	background-color: rgb(250, 250, 250);
	text-align: center;
	padding-bottom: 1em;
}

#header a {
	color: rgb(51, 51, 51);
}

a {
	color: rgb(66, 139, 202);
	text-decoration: none;
}

a:hover {
  color: rgb(36, 109, 172);
	text-decoration: underline;
}

h1 {
	padding: 1em;
}

#post {
	margin: 10px 15%;
}

.container {
	margin: 0 auto;
	max-width: 760px;
}

ul {
	margin: 2em 3em;
	padding: 0;
}

li {
	font-size: 120%;
	margin: 1em 0 1em 0;
	padding: 0;
	list-style: none;
}
li > .blog-date {
	text-align: right;
	float: right;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
	margin: 0 auto;
	width: 760px;
	border-top: 1px solid rgb(200, 200, 200);
  color: rgb(200, 200, 200);
}

#footer p {
	margin-right: 10px;
	margin-top: 5px;
}

.text-right {
	text-align: right;
}
